extends base.pug
block content 
 form.loginForm
  h1.loginLogo.btn-grad LOGIN
  .entry
    .entry-text Email
    input#email(type='email' name='Email' placeholder='Your Email' required='')
  .entry
    .entry-text Password
    input#pw(type='password' name='password' placeholder='**********')
  span#message
  .btn-parent.loginButton
    button.btn.btn-full.form-button.loginBtn LOGIN
  .signupForget 
   .signupClick 
    h3 Sign Up 
   .forgetPassword
    h3 Forget Password
append scripts 
 script(src = "./js/login.js")