extends base.pug
block content 
 section.signup
  h2 START EATING HEALTHY TODAY
  .signup-parent
   each plan in plans
    include planCard.pug
append scripts 
 script(src = "https://js.stripe.com/v3/")
 script(src = "./js/buyPlan.js")