extends base
block content 
 link(rel="stylesheet" , href="../css/style.css")
 form.changepw
  h1.loginLogo.btn-grad RESET PASSWORD
  .entry
    .entry-text Password
    input#pword(type='password' name='password' required='')
  .entry
    .entry-text Confirm Password
    input#cpword(type='password' name='confirmPassword')
  span#messagePw
  .btn-parent
    button.btn.btn-full.form-button.updateBtn Update Password
block scripts
 script(src="../js/resetPassword.js")